.breadcrumbs {
  padding: 17px 0;
  background-color: #f5f5f5;
  color: #7a7d81;
  ul {
    li {
      font-size: 14px;
      text-transform: uppercase;
      &.home {
        &:before {
          content: "\f015";
          display: inline-block;
          font-family: FontAwesome;
          font-size: 14px;
          color: #444;
        }
        a {
          display: none;
        }
      }
      &:not(first-child) {
        &:before {
          content: '/';
          padding: 0 2px;
          color: #444;
        }
      }
      a, strong {
        color: #444;
        font-size: 12px;
      }
    }
  }
}