.footer-container{
	background: #1C1C1C;
	.footer{
		h4{
			color: #fff;
		}
		ul li a{
			color: #fff;
			&:hover{
				color: $red;
			}
		}
		p{
			color: #fff!important;
		}
	}
}

.footer-col.last{
	border-color: #444;
}

.footer-shadow{
	border-color: #444;
	color: #fff;
}

.footer .block-subscribe button.button > span{
	background: $red;
}

.footer address{
	margin-top: 0;
	margin-bottom: 0;
}

.col-payment{
	text-align: right;
}

@media (max-width: 768px){
	.col-copyright, .col-payment{
		text-align: center;
	}
	.footer address{
		float: none;
		margin-bottom: 10px;
	}
}