body{
	letter-spacing: 0.5px;
  font-family: $bodyfont;
  color: rgb(34,34,34);
}

@media (min-width: 1200px){
	.container {
	  width: 1200px;
	}
}

a{
	color: $bodytext;
	&:hover{
		color: $red;
	}
}

.grid-clol-4 .col-item4 {
  padding: 0 10px 10px;
  width: 25%;
  float: left;
}

#back-top span{
	background-color: $red;
}

button.button > span:after, .but-link:after{
	background-color: $red;
}