body{
	letter-spacing: 0.5px;
  font-family: $bodyfont;
  color: rgb(34,34,34);
  font-size: 14px;
}

@media (min-width: 1200px){
	.container {
	  width: 1200px;
	}
}

a{
	color: $bodytext;
	&:hover{
		color: $red;
	}
}

.grid-clol-4 .col-item4 {
  padding: 0 10px 10px;
  width: 25%;
  float: left;
}

.grid-clol-3 .col-item3 {
  padding: 0 10px 10px;
  width: 33.33333%;
  float: left;
}

#back-top span{
	background-color: $red;
}

button.button > span:after, .but-link:after{
	background-color: $red;
}

.account-create form{
  width: 750px;
  margin: auto;
  display: block;
  max-width: 100%;
  font-size: 14px;
}

.form-list label{
	font-family: SFUFuturaBook, "Open Sans", Arial;
}

.form-list .input-box{
	margin-bottom: 15px;
}

.fieldset .legend{
	font-size: 14px;
}