body{
	letter-spacing: 0.5px;
  font-family: $bodyfont;
  color: rgb(34,34,34);
}

@media (min-width: 1200px){
	.container {
	  width: 1200px;
	}
}

a{
	color: $bodytext;
	&:hover{
		color: $red;
	}
}