.categories-landing-page .categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  .category {
    .contents {
      position: relative;
      .image {
        img {
          height: 260px;
          object-fit: cover;
        }
      }
      .info {
        padding: 20px 0;
        .name {
          color: #171717;
          font-size: 18px;
          cursor: pointer;
          font-weight: bold;
          text-decoration: none;
        }
        .number {
          color: #666;
          font-size: 18px;
          font-weight: bold;
        }
        p {
          margin-bottom: 5px;
        }
        .description {
          color: #666;
          font-size: 16px;
        }
      }
    }
  }
}

#cssmenu {
  ul {
    margin: 0;
    padding: 0;
    font-size: 0.95em;
    list-style: none;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    li {
      position: relative;
      a {
        display: block;
        margin: 10px 0;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3px 0;
        letter-spacing: 0.6px;
        font-weight: bold;
        font-family: 'SFUFuturaBook';
        -webkit-transition: color .2s ease;
        -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease;
      }
    }
  }
  &.two-level {
    & > ul {
      & > li {
        & > a {
          display: block;
          margin: 10px 0;
          text-align: left;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          padding: 3px 0;
          color: #171717;
          font-size: 1.1em;
          font-weight: bold;
          &:hover {
            color: $red;
          }
          &:after {
            background-image: url(../images/icons/arrow.svg);
          }
        }
        &.selected {
          & > ul {
            display: block;
          }
          & > a {
            color: $red;
          }
        }
        &.has-sub {
          & > a {
            &:after {
              top: 2px;
              right: 0;
              position: absolute;
              width: 16px;
              height: 16px;
              content: '';
              display: block;
            }
          }
          &.selected {
            & > a:after {
              background-position: -25px -25px;
            }
          }
        }
        & > ul {
          padding: 10px 0;
          border-top: 1px solid $red;
          border-bottom: 1px solid $red;
          display: none;
          &.selected {
            margin: 20px 0;
          }
          & > li {
            margin-left: 20px;
            a {
              text-transform: uppercase;
              font-size: 1em;
              color: #171717;
              font-family: 'SFUFuturaBook';
              color: #666;
              &:hover {
                color: #000;
              }
            }
            &.selected {
              a {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}

.catalog-category-view {
  .breadcrumbs {
    margin-bottom: 30px;
  }
}

.products-grid.grid-clol-3 {
  margin-left: -10px;
  margin-right: -10px;
}

.products-list {
  .list-right {
    .regular-price {
      float: none;
    }
  }
}

.product-name {
  a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.note-msg-empty-catalog {
  min-height: 132px;
}

.product-view {
  .product-img-box {
    width: 50%;
  }
  .product-shop {
    width: 50%;
    text-align: left;
    .availability {
      margin: 10px 0;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      span {
        color: #2ecc71;
        display: inline-block;
        padding: 2px 30px;
        border: 2px solid #2ecc71;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        white-space: nowrap;
        margin: 0;
        line-height: 23px;
      }
    }
    .add-to-box {
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      .add-to-cart {
        width: 100%;
        order: 1;
        border: 0;
      }
      > .add-to-cart-button {
        float: right;
      }
      .add-to-wishlist {
        float: left;
      }
      > .add-to-cart-button {
        width: 60%;
        order: 3;
        .btn-cart {
          width: 100%;
          background-color: #c51230;
          &:hover {
            background-color: #c51230;
          }
          span {
            display: block;
            float: none;
            line-height: 28px;
            background-color: transparent;
            text-transform: uppercase;
            font-size: 1.4em;
          }
        }
      }
      > .add-to-wishlist {
        width: 40%;
        order: 2;
        .link-wishlist {
          display: block;
          margin-right: 5px;
          background-color: #f5f5f5;
          line-height: 28px;
          padding: 16px 10px;
          color: #7a7d81;
          text-transform: uppercase;
          text-align: center;
          font-size: 1.4em;
        }
      }
    }
    .row-product {
      padding-top: 0;
      display: none;
    }
    .addthis_toolbox {
      border: 0;
      padding: 0;
    }
    .short-description {
      border-top: 2px solid #c2c2c2;
      border-bottom: 2px solid #c2c2c2;
      margin-bottom: 0;
      margin-top: 10px;
      p {

        font-size: 18px;
        line-height: 23px;
        padding-top: 13px;
        text-align: justify;
      }
    }
  }
  .add-to-cart {
    .qty-block {
      .qty-control {
        display: flex;
        position: relative;
        label {
          order: 1;
          margin: 0;
          padding-right: 10px;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 29px;
        }
        > div {
          order: 2;
          .up {
            position: absolute;
            right: -32px;
            &:before {
              content: "\f055";
            }
          }
          .dn {
            position: relative;
            &:before {
              content: "\f056";
            }
          }
          .up, .dn {
            font-size: 0;
            border: 0;
            overflow: visible;
            background-color: transparent;
            width: 32px;
            height: 32px;
            &:before {
              font-family: FontAwesome;
              position: absolute;
              width: 32px;
              height: 32px;
              font-size: 30px;
              line-height: 34px;
              vertical-align: middle;
              text-align: center;
              cursor: pointer;
              color: #222;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
              top: 0;
              left: 0;
              font-weight: normal;
            }
          }
        }
        .qty {
          order: 3;
          margin: 0 5px;
          width: 32px !important;
          height: 32px;
          font-weight: bold;
          text-align: center;
          border: 2px solid #DDD;
          padding: 0;
        }
      }
    }
  }

  .product-collateral {
    .box-collateral {
      h2 {
        display: inline-block;
        font-size: 18px;
        border-bottom: 5px solid #222;
        text-transform: uppercase;
      }
      .data-table {
        tr{
          border-bottom: 1px solid #EEE;
          &:last-child{
            border: 0;
          }
        }
        th, td {
          border: 0;
          font-size: 18px;
          color: #222;
          padding: 10px 10px 10px 0;
          font-weight: normal;
        }
      }
    }
  }
}

.block-layered-nav dt:first-child{
  border: none!important;
}

.block-layered-nav dt{
  font-size: 18px;
  font-family: SFUFuturaBook, "Open Sans", Arial;
}

.block-layered-nav dd li a{
  font-size: 14px;
}

.block-layered-nav dd{
  margin-bottom: 15px;
}

.sidebar{
  .ui-slider .ui-slider-handle{
    border-radius: 0;
  }
  #slider-range{
    margin-left: 10px;
    margin-top: 7px;
  }
  .price{
    text-align: center;
    #amount{
      text-align: center;
      font-size: 13px;
    }
  }
}

.products-grid .desc_grid{
  height: 44px;
  overflow: hidden;
}

.label-product{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  &> span{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    &.new{
      background: #00ba99;
    }
    &.sale{
      font-size: 10px;
      line-height: 14px;
      padding-top: 9px;
    }
  }
}

.product-view .product-collateral .box-collateral .data-table th, .product-view .product-collateral .box-collateral .data-table td{
  vertical-align: middle;
}

.product-box-customs{
  .container-slider{
    margin: auto;
  }
}

.product-options-bottom{
  .add-to-cart-button{
    width: 60%;
    float: right;
    button{
      display: block;
      font-size: 1.4em;
      text-align: center;
      padding: 16px 10px;
      text-decoration: none;
      background: $red;
      width: 100%;
      span{
        display: block;
        width: 100%;
        float: none;
        background: $red;
        span{
          display: block;
          float: none;
          width: 100%;
          padding: 0;    
          font-size: 1.4em;
          font-family: $bodyfont;    
          font-weight: normal;
          text-transform: uppercase;
        }
      }
    }
  }
  .add-to-wishlist{
    width: 40%;
    float: left;
    background: #f5f5f5;
    a{
      display: block;
      font-size: 1.4em;
      text-align: center;
      padding: 16px 10px;
      text-decoration: none;
      color: #7a7d81;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 767px){
  .product-view .product-img-box {
    width: 100%!important;
  }
  .product-view .product-shop {
    width: 100%!important;
  }
}

.checkout-types{
  button.button > span{
    background-color: $red;
  }
}

.short-description .std{
  padding: 15px 0;
  font-size: 18px;
  line-height: 24px;
}

.products-grid .product-image img, .products-list .product-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.products-list .product-image img{
  height: 125px;
}

@media (max-width: 767px){
  .products-grid .product-image img{
    height: 140px;
  }
  .products-list .product-image img{
    height: 140px;
  }
  .products-grid li.item .wrapper-hover{
    margin-bottom: 15px;
  }
}

.product-gallery{
  .slider-for{
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
  .product-other-images {
    position: relative;
    .slick-slide img{
      margin: auto;
    }
    .slick-arrow {
      width: 40px;
      height: 92px;
      .slick-prev {
        left: -10px;
      }
      .slick-next {
        right: -10px;
      }
    }
  }
}