$grey: #EEE;
$red: #c51230;
$bodytext: #222;
$bodyfont: SFUFutura, 'Open Sans', Arial;

@font-face {
  font-family: 'SFUFuturaBook';
  src: url("../fonts/SFUFutura/SFUFuturaBook.TTF")
}
@font-face {
  font-family: 'SFUFutura';
  src: url("../fonts/SFUFutura/SFUFuturaRegular.TTF");
  font-weight: normal;
}

@font-face {
  font-family: 'SFUFutura';
  src: url("../fonts/SFUFutura/SFUFuturaBold.TTF");
  font-weight: bold;
}