@font-face {
  font-family: 'SFUFuturaBook';
  src: url("../fonts/SFUFutura/SFUFuturaBook.TTF"); }

@font-face {
  font-family: 'SFUFutura';
  src: url("../fonts/SFUFutura/SFUFuturaRegular.TTF");
  font-weight: normal; }

@font-face {
  font-family: 'SFUFutura';
  src: url("../fonts/SFUFutura/SFUFuturaBold.TTF");
  font-weight: bold; }

body {
  letter-spacing: 0.5px;
  font-family: SFUFutura, "Open Sans", Arial;
  color: #222222;
  font-size: 14px; }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

a {
  color: #222; }
  a:hover {
    color: #c51230; }

.grid-clol-4 .col-item4 {
  padding: 0 10px 10px;
  width: 25%;
  float: left; }

.grid-clol-3 .col-item3 {
  padding: 0 10px 10px;
  width: 33.33333%;
  float: left; }

#back-top span {
  background-color: #c51230; }

button.button > span:after, .but-link:after {
  background-color: #c51230; }

.account-create form {
  width: 750px;
  margin: auto;
  display: block;
  max-width: 100%;
  font-size: 14px; }

.form-list label {
  font-family: SFUFuturaBook, "Open Sans", Arial; }

.form-list .input-box {
  margin-bottom: 15px; }

.fieldset .legend {
  font-size: 14px; }

button.button > span, .page-sitemap .links a, .but-link, .scrollpages a.loadmore {
  font-family: SFUFuturaBook, "Open Sans", Arial;
  font-weight: normal;
  text-transform: uppercase; }

.page-title h1, .page-title h2 {
  text-transform: uppercase; }

@media (max-width: 768px) {
  .page-title {
    margin: 0 0 10px !important; } }

.data-switch {
  display: none; }

.our-shops-container {
  font-family: SFUFuturaBook, "Open Sans", Arial; }
  .our-shops-container .groups {
    margin: 20px 0 30px;
    text-align: center; }
    .our-shops-container .groups .group {
      display: inline-block;
      cursor: pointer; }
      .our-shops-container .groups .group .name {
        margin: 10px;
        position: relative;
        font-size: 25px; }
        .our-shops-container .groups .group .name:after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 40px;
          height: 3px;
          background: #FFF; }
        .our-shops-container .groups .group .name span {
          display: block;
          padding: 10px; }
      .our-shops-container .groups .group.active {
        color: #c51230; }
        .our-shops-container .groups .group.active .name:after {
          background: #c51230; }
  .our-shops-container .locations {
    text-align: center; }
    .our-shops-container .locations .label {
      font-size: 18px;
      color: #222;
      font-weight: normal; }
    .our-shops-container .locations .name {
      font-size: 20px;
      margin-bottom: 20px; }

.block .block-title {
  font-family: SFUFuturaBook, "Open Sans", Arial;
  text-transform: uppercase;
  border-bottom: 2px solid #c51230; }

@media (max-width: 767px) {
  .our-shops-container .groups .group .name {
    font-size: 14px; }
  .our-shops-container .locations .label {
    font-size: 12px; }
  .our-shops-container .locations .name {
    font-size: 14px; } }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Common styles of menus */
.dl-menuwrapper {
  width: 100%;
  max-width: 300px;
  float: left;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%; }

.dl-menuwrapper:first-child {
  margin-right: 100px; }

.dl-menuwrapper button {
  background: #ccc;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none; }

.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 5px;
  background: #fff;
  top: 10px;
  left: 16%;
  box-shadow: 0 10px 0 #fff,  0 20px 0 #fff; }

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.dl-menuwrapper li {
  position: relative; }

.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  outline: none; }

.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1); }

.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  color: #c51230; }

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000"; }

.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: #c51230;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15); }

.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease; }

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px); }

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none; }

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none; }

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block; }

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0; }

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s; }

.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out; }

.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease; }

.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease; }

.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease; }

@-webkit-keyframes MenuAnimOut1 {
  0% { }
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg); }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }

@-webkit-keyframes MenuAnimOut2 {
  0% { }
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0; } }

@-webkit-keyframes MenuAnimOut3 {
  0% { }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0; } }

@-webkit-keyframes MenuAnimOut4 {
  0% { }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; } }

@-webkit-keyframes MenuAnimOut5 {
  0% { }
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0; } }

@keyframes MenuAnimOut1 {
  0% { }
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg); }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }

@keyframes MenuAnimOut2 {
  0% { }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0; } }

@keyframes MenuAnimOut3 {
  0% { }
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0; } }

@keyframes MenuAnimOut4 {
  0% { }
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0; } }

@keyframes MenuAnimOut5 {
  0% { }
  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0; } }

.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s; }

.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out; }

.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease; }

.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease; }

.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease; }

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }

@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }

@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }

@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }

@keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease; }

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }

@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }

@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1; } }

@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease; }

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0; } }

@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0; } }

@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; } }

@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0; } }

@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0; } }

@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0; } }

@keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0; } }

@keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0; } }

@keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0; } }

@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0; } }

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.no-js .dl-menuwrapper li .dl-submenu {
  display: block; }

.no-js .dl-menuwrapper li.dl-back {
  display: none; }

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1); }

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: ''; }

/* Colors for demos */
/* Demo 1 */
.demo-1 .dl-menuwrapper button {
  background: #c62860; }

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
  background: #9e1847; }

/* Demo 2 */
.demo-2 .dl-menuwrapper button {
  background: #e86814; }

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
  background: #D35400; }

/* Demo 3 */
.demo-3 .dl-menuwrapper button {
  background: #08cbc4; }

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
  background: #00b4ae; }

/* Demo 4 */
.demo-4 .dl-menuwrapper button {
  background: #90b912; }

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
  background: #79a002; }

/* Demo 5 */
.demo-5 .dl-menuwrapper button {
  background: #744783; }

.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
  background: #643771; }

.header {
  font-family: SFUFuturaBook, 'Open Sans', Arial; }
  .header .header-border {
    box-shadow: none;
    background: #EEE;
    padding: 10px 10000px 10px; }
  .header .header-info {
    padding-top: 0; }
  .header h1.logo {
    width: 50%;
    display: table-cell;
    vertical-align: middle; }
  .header .links a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #222 !important; }
    .header .links a:hover {
      color: #c51230 !important; }
  .header .links li {
    position: relative; }
    .header .links li:nth-child(2) {
      display: none; }
    .header .links li:not(:last-child):after {
      content: '';
      width: 2px;
      height: 100%;
      display: block;
      background: #222;
      position: absolute;
      right: -10px;
      top: 0; }
  .header .quick-access {
    margin-bottom: 0;
    padding-top: 3px; }
  .header .form-search .input-text {
    color: #222;
    border-color: #c51230;
    font-family: SFUFutura, "Open Sans", Arial;
    font-size: 16px;
    min-width: 300px; }
  .header .form-search button.button > span {
    background-color: #c51230; }
    .header .form-search button.button > span:after {
      background-color: #000 !important; }
  .header .contact {
    font-weight: bold;
    white-space: nowrap;
    padding-top: 3px; }
    .header .contact span {
      letter-spacing: 1px;
      display: inline-block; }
      .header .contact span a {
        color: #c51230; }

.block-cart-header {
  width: 25px;
  height: 25px;
  margin-right: 2px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background: url(../images/icons/header-icons.svg) no-repeat;
  background-position: 0 -50px !important;
  margin-bottom: 0;
  margin-top: 0; }
  .block-cart-header:hover {
    background-position: -25px -50px !important; }
  .block-cart-header .summary {
    position: relative;
    color: #c51230;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    padding-top: 5px;
    left: auto;
    top: auto; }
  .block-cart-header .cart-content {
    top: 36px; }

.header-container {
  box-shadow: none; }

@media (max-width: 767px) {
  .magicmenu .nav-desktop {
    display: none; } }

.magicmenu .nav-desktop > .level0 {
  padding: 5px 30px 5px 0 !important; }

.magicmenu .nav-desktop .level0 .level-top {
  font-weight: bold !important; }
  .magicmenu .nav-desktop .level0 .level-top > span {
    font-size: 16px !important; }

.magicmenu .nav-desktop .level0.active .level-top {
  color: #c51230 !important; }

.magicmenu .nav-desktop .level0:hover .level-top {
  color: #c51230 !important; }

.magicmenu .nav-desktop .level0.hasChild > .level-top:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  text-indent: 0 !important;
  content: "\f107";
  display: inline-block;
  font-size: 15px;
  color: #c51230;
  border-radius: 20px;
  line-height: 20px;
  vertical-align: middle;
  position: absolute;
  right: -14px;
  top: 30%; }

.magicmenu .nav-desktop .level0 > .level-top:before {
  display: none !important; }

.magicmenu .nav-desktop .hasChild > .level-top:after {
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  text-indent: 0 !important;
  content: "\f107";
  display: inline-block;
  font-size: 15px;
  color: #c51230;
  border-radius: 20px;
  line-height: 20px;
  vertical-align: middle;
  position: absolute;
  right: 0px;
  top: 40%; }

.magicmenu .nav-desktop .level0.dropdown > .level0,
.magicmenu .nav-desktop .dl-submenu.level1 {
  min-width: 20em !important;
  width: auto !important; }

.top-icon-menu, .swipe {
  background-color: #fff; }

.top-icon-menu {
  color: #222; }
  .top-icon-menu > div {
    padding: 10px;
    font-size: 20px;
    color: #c51230 !important;
    border-right: 0;
    height: auto; }

.logo-mobile {
  padding: 10px 0;
  display: inline-block; }
  .logo-mobile img {
    max-height: 30px; }

.logo img {
  max-height: 80px; }

.swipe-menu ul li a:hover {
  background: rgba(255, 248, 213, 0.1); }

.swipe {
  display: none;
  z-index: 99;
  font-family: SFUFutura, "Open Sans", Arial;
  color: #222;
  font-weight: normal; }
  .swipe a {
    color: #222;
    font-weight: normal; }
    .swipe a:hover {
      background: rgba(255, 248, 213, 0.1); }
  .swipe .links li a, .swipe .footer-links-menu li a {
    color: #222;
    font-weight: normal; }
  .swipe .links li:hover a, .swipe .footer-links-menu li:hover a {
    background: rgba(255, 248, 213, 0.1); }
  .swipe .label {
    font-weight: normal !important; }
  .swipe .buttons a {
    display: block;
    padding: 10px;
    cursor: pointer; }

@media only screen and (max-width: 991px) {
  .nav-container-mobile {
    border-bottom: 0 !important;
    box-shadow: 0 3px 3px #CCC; }
  .sf-menu-phone {
    top: 50px; } }

@media only screen and (max-width: 767px) {
  .stock-region {
    min-width: 0;
    padding: 0;
    border-left: 0;
    right: 35px;
    top: -55px;
    position: absolute;
    float: right;
    z-index: 9999; }
  .block-cart-header {
    min-width: 0;
    padding: 0;
    border-left: 0;
    right: 0;
    top: -55px; }
    .block-cart-header:before {
      display: none; }
    .block-cart-header .block-content {
      float: none; }
    .block-cart-header .mini-cart {
      padding: 0;
      padding-top: 4px;
      font-size: 11px;
      text-align: center; }
    .block-cart-header .mini-cart strong {
      color: #c51230;
      font-weight: normal; }
  .header-container {
    padding-bottom: 0; }
  .header {
    padding: 0; }
    .header .header-border {
      padding: 0; }
    .header .form-search .input-text {
      padding: 5px 10px;
      height: 42px;
      line-height: 20px;
      border-width: 1px; }
    .header .form-search button.button > span {
      width: 42px;
      height: 42px; }
      .header .form-search button.button > span:before {
        line-height: 40px; }
  .header h1.logo, .header .logo {
    display: none !important; }
  .header .f-right {
    float: none !important; }
  #search_mini_form {
    opacity: 1 !important;
    display: block !important;
    padding: 0;
    position: relative;
    transition: none;
    height: auto !important; }
  #menu-icon {
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    padding: 0 5px; }
    #menu-icon:before {
      line-height: 45px; } }

@media only screen and (min-width: 768px) {
  .block-cart-header {
    margin-left: 5px; }
  .stock-region {
    float: right;
    margin-left: 10px; } }

body.ind .swipe {
  display: block;
  width: 100%;
  z-index: 99999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0;
  min-height: 100vh; }
  body.ind .swipe .swipe-menu {
    border-top: 0;
    width: 100%;
    height: 100%;
    max-width: 380px;
    background-color: #fff; }
    @media (max-width: 480px) {
      body.ind .swipe .swipe-menu {
        padding-bottom: 70px; } }
    body.ind .swipe .swipe-menu .menu-header {
      margin: 0;
      padding: 20px 10px;
      color: #666;
      font-size: 16px;
      background: #EEE;
      text-transform: uppercase;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      body.ind .swipe .swipe-menu .menu-header span {
        padding-left: 5px; }
  body.ind .swipe .dl-menuwrapper {
    float: none !important;
    max-width: none !important; }
    body.ind .swipe .dl-menuwrapper .dl-menu {
      position: relative !important;
      margin: 0 !important; }

.swipe-menu .links li.top-car {
  display: block; }

.swipe-menu ul li a, .swipe-menu > a {
  color: #565656;
  display: block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 55px 15px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  border-bottom: 1px solid #EEE !important; }
  .swipe-menu ul li a:before, .swipe-menu > a:before {
    display: none; }

.swipe-menu .links li a, .footer-links-menu li a, .home-link, .swipe-menu .switch-show {
  border-bottom: 1px solid #EEE !important; }

.header-container-fixed {
  position: fixed;
  top: 0;
  z-index: 9;
  background: #fff;
  width: 100%;
  box-shadow: 0 3px 3px #CCC;
  transition: box-shadow 200ms; }

.header .welcome-msg {
  margin-bottom: 7px; }

.title-buttons h1 {
  float: none; }

@media only screen and (max-width: 767px) {
  .block-cart-header .empty > div.summary {
    display: block; } }

.popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out; }
  .popup-wrapper.active {
    opacity: 1;
    visibility: visible; }
  .popup-wrapper .popup.regions .contents {
    width: 500px;
    padding: 10px;
    margin: 100px auto 0;
    position: relative;
    border: 5px solid rgba(255, 255, 255, 0.2);
    background-color: #fff;
    text-align: center; }
    .popup-wrapper .popup.regions .contents .header-icon {
      left: 0;
      top: -40px;
      width: 100%;
      position: absolute; }
    .popup-wrapper .popup.regions .contents .popup-title {
      color: #c51230;
      margin: 25px 0 0;
      font-size: 16px;
      line-height: 30px;
      font-weight: bold;
      text-transform: uppercase;
      font-weight: bold; }
    .popup-wrapper .popup.regions .contents .popup-description {
      font-size: 14px;
      margin-bottom: 15px; }
    .popup-wrapper .popup.regions .contents .selection {
      margin: 0 auto;
      overflow: hidden; }
      .popup-wrapper .popup.regions .contents .selection .option {
        float: left;
        padding: 0 5px; }
        .popup-wrapper .popup.regions .contents .selection .option label {
          width: 220px;
          height: 150px;
          display: table;
          cursor: pointer;
          position: relative; }
          .popup-wrapper .popup.regions .contents .selection .option label .text {
            z-index: 1;
            position: relative;
            color: #FFF;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            text-transform: uppercase;
            line-height: 30px; }
          .popup-wrapper .popup.regions .contents .selection .option label .selected {
            display: none; }
          .popup-wrapper .popup.regions .contents .selection .option label img {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute; }
        .popup-wrapper .popup.regions .contents .selection .option input:checked + label .selected {
          display: block; }
        .popup-wrapper .popup.regions .contents .selection .option input:checked + label .unselected {
          display: none; }
    .popup-wrapper .popup.regions .contents .proceed-button {
      padding: 10px; }
      .popup-wrapper .popup.regions .contents .proceed-button .btn {
        color: #FFF;
        padding: 10px 20px;
        background: #c51230;
        font-family: SFUFutura, "Open Sans", Arial;
        text-transform: uppercase; }

.stock-region {
  width: 25px;
  height: 25px;
  margin-right: 2px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background: url(../images/icons/header-icons.svg) no-repeat;
  background-position: 0 -100px !important;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
  color: #000; }
  .stock-region:hover {
    background-position: -25px -100px !important; }

@media only screen and (max-width: 580px) {
  .popup-wrapper .popup.regions .contents {
    width: 320px; }
  .popup-wrapper .popup.regions .contents .header-icon {
    top: -30px; }
  .popup-wrapper .popup.regions .contents .header-icon img {
    width: 50px;
    height: 50px; }
  .popup-wrapper .popup.regions .contents .popup-title {
    font-size: 14px; }
  .popup-wrapper .popup.regions .contents .popup-description {
    font-size: 10px; }
  .popup-wrapper .popup.regions .contents .selection .option label {
    width: 130px;
    height: 90px; }
  .popup-wrapper .popup.regions .contents .selection .option label .text {
    font-size: 14px; }
  .popup-wrapper .popup.regions .contents .proceed-button .btn {
    font-size: 12px;
    padding: 10px 15px; } }

.footer-container {
  background: #1C1C1C; }
  .footer-container .footer h4 {
    color: #fff; }
  .footer-container .footer ul li a {
    color: #fff; }
    .footer-container .footer ul li a:hover {
      color: #c51230; }
  .footer-container .footer p {
    color: #fff !important; }

.footer-col.last {
  border-color: #444; }

.footer-shadow {
  border-color: #444;
  color: #fff; }

.footer .block-subscribe button.button > span {
  background: #c51230; }

.footer address {
  margin-top: 0;
  margin-bottom: 0; }

.col-payment {
  text-align: right; }

@media (max-width: 768px) {
  .col-copyright, .col-payment {
    text-align: center; }
  .footer address {
    float: none;
    margin-bottom: 10px; } }

.cms-home .home_slider {
  padding-top: 10px; }

.camera_prev, .camera_next {
  width: 42px;
  height: 92px;
  background: none !important;
  margin-top: -46px; }

.camera_prev:before {
  content: '';
  background: url(../images/md-left.svg);
  display: block; }

.camera_next:before {
  content: '';
  background: url(../images/md-right.svg);
  display: block; }

.category-title {
  border: none; }
  .category-title:after {
    width: 45px;
    height: 3px;
    content: '';
    display: block;
    background: #c51230;
    margin: 10px auto 20px; }

.category-title h1 {
  text-align: center;
  text-transform: uppercase; }

.products-grid li.item .wrapper-hover {
  margin-bottom: 40px; }

.products-grid .price-box > p.special-price {
  float: none; }
  .products-grid .price-box > p.special-price .price {
    color: #c51230; }

.label-product > span.sale {
  background: #c51230; }

.products-grid .ratings {
  display: none; }

.product-shop {
  text-align: center; }
  .product-shop .actions .btn-buy {
    width: 50%;
    margin: 0; }
    .product-shop .actions .btn-buy span {
      width: 100%;
      background: #c51230;
      font-family: SFUFutura, "Open Sans", Arial;
      font-weight: normal; }
      .product-shop .actions .btn-buy span span {
        padding: 10px 5px; }
      .product-shop .actions .btn-buy span:after {
        background: #000; }
  .product-shop .actions .btn-wishlist {
    margin: 0;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 10px 5px;
    display: block;
    float: left;
    width: 50%;
    text-transform: uppercase; }

.products-grid .out-of-stock {
  display: inline-block;
  padding: 10px 5px;
  width: 50%;
  line-height: inherit;
  background: #888; }
  .products-grid .out-of-stock span {
    color: #fff;
    font-weight: normal; }

.col-main .regular-price .price {
  color: #c51230; }

.happy-furniture-to-you .row {
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .happy-furniture-to-you .row {
      margin-bottom: 20px; } }
  .happy-furniture-to-you .row .wrapper {
    width: inherit; }

.mb-lg {
  margin-bottom: 20px; }

.page-title {
  color: #171717;
  font-size: 30px;
  line-height: 35px;
  margin: 30px 0 28px;
  letter-spacing: 1.5px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-family: SFUFuturaBook, Arial, Helvetica, sans-serif;
  border-bottom: 0; }
  .page-title:after {
    width: 45px;
    height: 3px;
    content: '';
    display: block;
    background: #c51230;
    margin: 10px auto 20px; }

.featured-categories .wrapper {
  width: inherit; }

.featured-categories .row {
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .featured-categories .row {
      margin-bottom: 20px; } }
  .featured-categories .row a {
    display: block;
    position: relative;
    text-decoration: none; }
    .featured-categories .row a .overlay {
      width: 45%;
      height: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      top: 0;
      left: 0;
      position: absolute;
      background: #000; }
      .featured-categories .row a .overlay .text {
        color: #FFF;
        width: 100%;
        height: 100%;
        display: table;
        letter-spacing: 2.5px; }
        .featured-categories .row a .overlay .text span {
          font-size: 24px;
          line-height: 32px;
          display: table-cell;
          text-align: center;
          vertical-align: middle; }
      .featured-categories .row a .overlay:hover {
        background: #c51230; }

.homeIndent .carousel-prev, .homeIndent .carousel-next, .homeIndent .carousel-prev2, .homeIndent .carousel-next2 {
  position: absolute;
  top: 50%;
  margin-top: -46px;
  width: 42px;
  height: 92px;
  background: none !important; }

.homeIndent .carousel-prev, .homeIndent .carousel-prev2 {
  left: -40px; }
  .homeIndent .carousel-prev:before, .homeIndent .carousel-prev2:before {
    content: '';
    background: url(../images/md-left-d.svg);
    display: block;
    width: 42px;
    height: 92px; }

.homeIndent .carousel-next, .homeIndent .carousel-next2 {
  right: -40px; }
  .homeIndent .carousel-next:before, .homeIndent .carousel-next2:before {
    content: '';
    background: url(../images/md-right-d.svg);
    display: block;
    width: 42px;
    height: 92px; }

.home-carousel-control {
  position: initial;
  top: auto;
  right: auto;
  padding: 0; }

@media only screen and (max-width: 767px) {
  .products-grid .desc_grid {
    height: 50px;
    overflow: hidden; }
  .homeIndent .category-title {
    padding-right: 0 !important; }
  .magestore-bannerslider-standard .wrapper.left {
    margin-bottom: 30px; }
  .homeIndent .carousel-prev, .homeIndent .carousel-next, .homeIndent .carousel-prev2, .homeIndent .carousel-next2 {
    display: none !important; } }

.cms-about-us .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.account-login .new-users,
.account-login .registered-users {
  border: none; }

.social-button a {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  background: #ffffff;
  width: 280px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 10px; }

a.btn-facebook {
  color: #3b5997;
  border: 2px solid #3b5997;
  text-decoration: none; }
  a.btn-facebook img {
    margin-bottom: 5px;
    height: 17px; }

a.btn-google {
  color: #d34836;
  border: 2px solid #d34836; }
  a.btn-google img {
    margin-bottom: 5px;
    height: 17px; }

.inchoo-socialconnect-login-lower {
  text-align: center; }
  .inchoo-socialconnect-login-lower .col-1, .inchoo-socialconnect-login-lower .col-2 {
    display: inline-block; }

.account-login .separator {
  text-align: center; }
  .account-login .separator .content {
    min-height: 0;
    position: relative; }
    .account-login .separator .content span {
      background: #fff;
      display: inline-block;
      padding: 10px;
      position: relative;
      z-index: 9; }
    .account-login .separator .content:after {
      content: '';
      width: 200px;
      height: 1px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -100px;
      background: #222; }

@media (max-width: 768px) {
  .account-login .new-users {
    min-height: 0; } }

.categories-landing-page .categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px; }
  .categories-landing-page .categories .category .contents {
    position: relative; }
    .categories-landing-page .categories .category .contents .image img {
      height: 260px;
      object-fit: cover; }
    .categories-landing-page .categories .category .contents .info {
      padding: 20px 0; }
      .categories-landing-page .categories .category .contents .info .name {
        color: #171717;
        font-size: 18px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none; }
      .categories-landing-page .categories .category .contents .info .number {
        color: #666;
        font-size: 18px;
        font-weight: bold; }
      .categories-landing-page .categories .category .contents .info p {
        margin-bottom: 5px; }
      .categories-landing-page .categories .category .contents .info .description {
        color: #666;
        font-size: 16px; }

#cssmenu ul {
  margin: 0;
  padding: 0;
  font-size: 0.95em;
  list-style: none;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  #cssmenu ul li {
    position: relative; }
    #cssmenu ul li a {
      display: block;
      margin: 10px 0;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      padding: 3px 0;
      letter-spacing: 0.6px;
      font-weight: bold;
      font-family: 'SFUFuturaBook';
      -webkit-transition: color .2s ease;
      -moz-transition: color .2s ease;
      -ms-transition: color .2s ease;
      -o-transition: color .2s ease;
      transition: color .2s ease; }

#cssmenu.two-level > ul > li > a {
  display: block;
  margin: 10px 0;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 0;
  color: #171717;
  font-size: 1.1em;
  font-weight: bold; }
  #cssmenu.two-level > ul > li > a:hover {
    color: #c51230; }
  #cssmenu.two-level > ul > li > a:after {
    background-image: url(../images/icons/arrow.svg); }

#cssmenu.two-level > ul > li.selected > ul {
  display: block; }

#cssmenu.two-level > ul > li.selected > a {
  color: #c51230; }

#cssmenu.two-level > ul > li.has-sub > a:after {
  top: 2px;
  right: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  content: '';
  display: block; }

#cssmenu.two-level > ul > li.has-sub.selected > a:after {
  background-position: -25px -25px; }

#cssmenu.two-level > ul > li > ul {
  padding: 10px 0;
  border-top: 1px solid #c51230;
  border-bottom: 1px solid #c51230;
  display: none; }
  #cssmenu.two-level > ul > li > ul.selected {
    margin: 20px 0; }
  #cssmenu.two-level > ul > li > ul > li {
    margin-left: 20px; }
    #cssmenu.two-level > ul > li > ul > li a {
      text-transform: uppercase;
      font-size: 1em;
      color: #171717;
      font-family: 'SFUFuturaBook';
      color: #666; }
      #cssmenu.two-level > ul > li > ul > li a:hover {
        color: #000; }
    #cssmenu.two-level > ul > li > ul > li.selected a {
      color: #000; }

.catalog-category-view .breadcrumbs {
  margin-bottom: 30px; }

.products-grid.grid-clol-3 {
  margin-left: -10px;
  margin-right: -10px; }

.products-list .list-right .regular-price {
  float: none; }

.product-name a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.note-msg-empty-catalog {
  min-height: 132px; }

.product-view .product-img-box {
  width: 50%; }

.product-view .product-shop {
  width: 50%;
  text-align: left; }
  .product-view .product-shop .availability {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
    .product-view .product-shop .availability span {
      color: #2ecc71;
      display: inline-block;
      padding: 2px 30px;
      border: 2px solid #2ecc71;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      white-space: nowrap;
      margin: 0;
      line-height: 23px; }
  .product-view .product-shop .add-to-box {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .product-view .product-shop .add-to-box .add-to-cart {
      width: 100%;
      order: 1;
      border: 0; }
    .product-view .product-shop .add-to-box > .add-to-cart-button {
      float: right; }
    .product-view .product-shop .add-to-box .add-to-wishlist {
      float: left; }
    .product-view .product-shop .add-to-box > .add-to-cart-button {
      width: 59%;
      order: 3; }
      .product-view .product-shop .add-to-box > .add-to-cart-button .btn-cart {
        width: 100%;
        background-color: #c51230; }
        .product-view .product-shop .add-to-box > .add-to-cart-button .btn-cart:hover {
          background-color: #c51230; }
        .product-view .product-shop .add-to-box > .add-to-cart-button .btn-cart span {
          display: block;
          float: none;
          line-height: 28px;
          background-color: transparent;
          text-transform: uppercase;
          font-size: 1.4em; }
    .product-view .product-shop .add-to-box > .add-to-wishlist {
      width: 40%;
      order: 2; }
      .product-view .product-shop .add-to-box > .add-to-wishlist .link-wishlist {
        display: block;
        margin-right: 5px;
        background-color: #f5f5f5;
        line-height: 28px;
        padding: 16px 10px;
        color: #7a7d81;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.4em; }
  .product-view .product-shop .row-product {
    padding-top: 0;
    display: none; }
  .product-view .product-shop .addthis_toolbox {
    border: 0;
    padding: 0; }
  .product-view .product-shop .short-description {
    border-top: 2px solid #c2c2c2;
    border-bottom: 2px solid #c2c2c2;
    margin-bottom: 0;
    margin-top: 10px; }
    .product-view .product-shop .short-description p {
      font-size: 18px;
      line-height: 23px;
      padding-top: 13px;
      text-align: justify; }

.product-view .add-to-cart .qty-block .qty-control {
  display: flex;
  position: relative; }
  .product-view .add-to-cart .qty-block .qty-control label {
    order: 1;
    margin: 0;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 29px; }
  .product-view .add-to-cart .qty-block .qty-control > div {
    order: 2; }
    .product-view .add-to-cart .qty-block .qty-control > div .up {
      position: absolute;
      right: -32px; }
      .product-view .add-to-cart .qty-block .qty-control > div .up:before {
        content: "\f055"; }
    .product-view .add-to-cart .qty-block .qty-control > div .dn {
      position: relative; }
      .product-view .add-to-cart .qty-block .qty-control > div .dn:before {
        content: "\f056"; }
    .product-view .add-to-cart .qty-block .qty-control > div .up, .product-view .add-to-cart .qty-block .qty-control > div .dn {
      font-size: 0;
      border: 0;
      overflow: visible;
      background-color: transparent;
      width: 32px;
      height: 32px; }
      .product-view .add-to-cart .qty-block .qty-control > div .up:before, .product-view .add-to-cart .qty-block .qty-control > div .dn:before {
        font-family: FontAwesome;
        position: absolute;
        width: 32px;
        height: 32px;
        font-size: 30px;
        line-height: 34px;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        color: #222;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        top: 0;
        left: 0;
        font-weight: normal; }
  .product-view .add-to-cart .qty-block .qty-control .qty {
    order: 3;
    margin: 0 5px;
    width: 32px !important;
    height: 32px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #DDD;
    padding: 0; }

.product-view .product-collateral .box-collateral h2 {
  display: inline-block;
  font-size: 18px;
  border-bottom: 5px solid #222;
  text-transform: uppercase; }

.product-view .product-collateral .box-collateral .data-table tr {
  border-bottom: 1px solid #EEE; }
  .product-view .product-collateral .box-collateral .data-table tr:last-child {
    border: 0; }

.product-view .product-collateral .box-collateral .data-table th, .product-view .product-collateral .box-collateral .data-table td {
  border: 0;
  font-size: 18px;
  color: #222;
  padding: 10px 10px 10px 0;
  font-weight: normal; }

.block-layered-nav dt:first-child {
  border: none !important; }

.block-layered-nav dt {
  font-size: 18px;
  font-family: SFUFuturaBook, "Open Sans", Arial; }

.block-layered-nav dd li a {
  font-size: 14px; }

.block-layered-nav dd {
  margin-bottom: 15px; }

.sidebar .ui-slider .ui-slider-handle {
  border-radius: 0; }

.sidebar #slider-range {
  margin-left: 10px;
  margin-top: 7px; }

.sidebar .price {
  text-align: center; }
  .sidebar .price #amount {
    text-align: center;
    font-size: 13px; }

.products-grid .desc_grid {
  height: 44px;
  overflow: hidden; }

.label-product {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%; }
  .label-product > span {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase; }
    .label-product > span.new {
      background: #00ba99; }
    .label-product > span.sale {
      font-size: 10px;
      line-height: 14px;
      padding-top: 9px; }

.product-view .product-collateral .box-collateral .data-table th, .product-view .product-collateral .box-collateral .data-table td {
  vertical-align: middle; }

.product-box-customs .container-slider {
  margin: auto; }

.product-options-bottom .add-to-cart-button {
  width: 60%;
  float: right; }
  .product-options-bottom .add-to-cart-button button {
    display: block;
    font-size: 1.4em;
    text-align: center;
    padding: 16px 10px;
    text-decoration: none;
    background: #c51230;
    width: 100%; }
    .product-options-bottom .add-to-cart-button button span {
      display: block;
      width: 100%;
      float: none;
      background: #c51230; }
      .product-options-bottom .add-to-cart-button button span span {
        display: block;
        float: none;
        width: 100%;
        padding: 0;
        font-size: 1.4em;
        font-family: SFUFutura, "Open Sans", Arial;
        font-weight: normal;
        text-transform: uppercase; }

.product-options-bottom .add-to-wishlist {
  width: 40%;
  float: left;
  background: #f5f5f5; }
  .product-options-bottom .add-to-wishlist a {
    display: block;
    font-size: 1.4em;
    text-align: center;
    padding: 16px 10px;
    text-decoration: none;
    color: #7a7d81;
    text-transform: uppercase; }

@media only screen and (max-width: 767px) {
  .product-view .product-img-box {
    width: 100% !important; }
  .product-view .product-shop {
    width: 100% !important; } }

.checkout-types button.button > span {
  background-color: #c51230; }

.short-description .std {
  padding: 15px 0;
  font-size: 18px;
  line-height: 24px; }

.products-grid .product-image img, .products-list .product-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block; }

.products-list .product-image img {
  height: 125px; }

@media (max-width: 767px) {
  .products-grid .product-image img {
    height: 140px; }
  .products-list .product-image img {
    height: 140px; }
  .products-grid li.item .wrapper-hover {
    margin-bottom: 15px; } }

.product-gallery .slider-for {
  margin-bottom: 20px; }
  .product-gallery .slider-for img {
    width: 100%; }

.product-gallery .product-other-images {
  position: relative; }
  .product-gallery .product-other-images .slick-slide img {
    margin: auto; }
  .product-gallery .product-other-images .slick-arrow {
    width: 40px;
    height: 92px; }
    .product-gallery .product-other-images .slick-arrow .slick-prev {
      left: -10px; }
    .product-gallery .product-other-images .slick-arrow .slick-next {
      right: -10px; }

.configurable-swatch-list > li {
  display: inline-block;
  margin-right: 7px; }
  .configurable-swatch-list > li a {
    display: block;
    border: 1px solid transparent; }
    .configurable-swatch-list > li a span.swatch-label {
      display: block; }
  .configurable-swatch-list > li.selected a {
    border: 1px solid #333; }
  .configurable-swatch-list > li .x {
    display: none; }

.wrapper-hover:hover .product-image {
  box-shadow: none !important; }

.product-image {
  background: transparent; }

.breadcrumbs {
  padding: 17px 0;
  background-color: #f5f5f5;
  color: #7a7d81; }
  .breadcrumbs ul li {
    font-size: 14px;
    text-transform: uppercase; }
    .breadcrumbs ul li.home:before {
      content: "\f015";
      display: inline-block;
      font-family: FontAwesome;
      font-size: 14px;
      color: #444; }
    .breadcrumbs ul li.home a {
      display: none; }
    .breadcrumbs ul li:not(first-child):before {
      content: '/';
      padding: 0 2px;
      color: #444; }
    .breadcrumbs ul li a, .breadcrumbs ul li strong {
      color: #444;
      font-size: 12px; }

table {
  font-family: SFUFuturaBook, "Open Sans", Arial; }
  table.cart-table th {
    border: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    color: #9c9c9c;
    text-transform: uppercase; }
    table.cart-table th:nth-child(1), table.cart-table th:nth-child(2), table.cart-table th:nth-child(3), table.cart-table th:nth-child(5) {
      width: 20%; }
    table.cart-table th:nth-child(4) {
      width: 15%; }
    table.cart-table th:nth-child(6) {
      width: 5%; }
  table.cart-table td {
    border: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: middle; }
  table.cart-table .product-image {
    border: none;
    width: 100%;
    background: none; }
  table.cart-table .price {
    font-size: 16px;
    font-weight: bold; }
  table.cart-table .btn-remove2 {
    padding-top: 15px; }
  table.cart-table .btn-continue > span, table.cart-table .btn-update > span, table.cart-table .btn-empty > span {
    color: #777;
    background: #EEE; }
  table.cart-table .btn-continue:hover > span, table.cart-table .btn-update:hover > span, table.cart-table .btn-empty:hover > span {
    color: #fff; }

.discount-form {
  width: 370px; }
  .discount-form .input-box {
    display: inline-block;
    vertical-align: top; }
    .discount-form .input-box .input-text {
      border: 0;
      width: 260px !important;
      height: 40px;
      padding: 4px 10px;
      background: #FFF;
      border: 1px solid #c51230;
      display: inline-block; }
  .discount-form .buttons-set {
    height: 40px;
    width: 100px;
    display: inline-block;
    padding: 0 !important;
    position: relative;
    left: -6px;
    vertical-align: top; }
    .discount-form .buttons-set button {
      margin: 0 !important;
      height: 40px; }
    .discount-form .buttons-set span {
      padding: 11px 15px;
      white-space: nowrap;
      background: #c51230;
      letter-spacing: 1px;
      color: #fff; }
      .discount-form .buttons-set span span {
        padding: 0; }

.cart .totals {
  background: transparent; }
  .cart .totals table tr {
    border: none; }
  .cart .totals table th, .cart .totals table td {
    color: #222;
    text-transform: uppercase; }
  .cart .totals .price {
    color: #222;
    font-weight: bold; }

@media only screen and (max-width: 767px) {
  #shopping-cart-table {
    display: table; }
  .cart .data-table tfoot {
    display: table-footer-group;
    position: relative;
    top: auto;
    left: auto; }
  .cart .data-table tr {
    display: table-row;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none; }
  table.cart-table th {
    font-size: 12px; }
  .cart .data-table td {
    display: table-cell; }
  .cart-table thead tr th:nth-child(3), .cart-table thead tr th:nth-child(5), .cart-table tbody tr td:nth-child(3), .cart-table tbody tr td:nth-child(5) {
    display: none; }
  .cart-table thead tr th:nth-child(1), .cart-table thead tr th:nth-child(2), .cart-table tbody tr td:nth-child(1), .cart-table tbody tr td:nth-child(2) {
    width: 40%; }
  .cart-table thead tr th:nth-child(4), .cart-table thead tr th:nth-child(6), .cart-table tbody tr td:nth-child(4), .cart-table tbody tr td:nth-child(6) {
    width: 10%; }
  .cart-table .product-name a {
    white-space: normal; }
  #shopping-cart-table .product-image {
    max-width: 100px; }
    #shopping-cart-table .product-image img {
      width: 100%; } }

.block-cart-header .mini-products-list li.item {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px dashed #ccc;
  padding: 10px; }

.mini-products-list .product-control-buttons {
  position: absolute;
  right: 15px; }

.block-cart-header .mini-products-list .product-name {
  float: left;
  width: 160px !important;
  margin: 0; }

.block-cart-header .mini-products-list .product-details {
  float: left;
  width: 160px;
  margin: 0; }

.block-cart-header .subtotal .price {
  font-weight: bold;
  color: #c51230; }

.block-cart-header .actions {
  text-align: center; }
  .block-cart-header .actions button.button {
    float: none; }
    .block-cart-header .actions button.button span span {
      padding: 10px 23px; }
    .block-cart-header .actions button.button:nth-child(1) > span {
      background: #c51230; }
    .block-cart-header .actions button.button:nth-child(2) span span {
      padding: 8px 24px; }
    .block-cart-header .actions button.button:nth-child(2) > span {
      background: transparent;
      border: 2px solid #c51230;
      color: #c51230; }
      .block-cart-header .actions button.button:nth-child(2) > span:hover {
        color: #fff; }

.opc .step-title {
  letter-spacing: 1.5px;
  color: #a6a6a6;
  background: #ebebeb;
  text-transform: uppercase;
  font-size: 14px; }

.opc .step-title .number {
  background: transparent; }

.block-progress dt {
  text-transform: uppercase;
  font-weight: normal; }

.gcheckout-onepage-wrap .glc-title {
  background-color: #c51230;
  background-image: none; }

.glc #gcheckout-onepage-review button.button span span {
  background-color: #c51230;
  background-image: none; }

.opc .sp-methods dt {
  padding-bottom: 0; }
  .opc .sp-methods dt label {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold; }

.opc .sp-methods dd {
  margin-bottom: 15px;
  position: relative;
  min-height: 70px; }
  .opc .sp-methods dd .form-list {
    overflow: hidden; }
    .opc .sp-methods dd .form-list .payment_ins {
      float: left;
      width: calc(100% - 140px); }
    .opc .sp-methods dd .form-list img {
      width: 140px;
      position: absolute;
      right: 0;
      top: -40px; }
  .opc .sp-methods dd #payment_form_cashondelivery {
    display: block !important;
    margin-top: 0; }
    .opc .sp-methods dd #payment_form_cashondelivery .cashondelivery-instructions-content {
      border: none;
      background-color: transparent;
      padding: 0;
      height: auto;
      padding-right: 140px; }
      .opc .sp-methods dd #payment_form_cashondelivery .cashondelivery-instructions-content:after {
        content: '';
        width: 110px;
        height: 80px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: -40px;
        background-image: url(../images/icon-cod.png); }

div.inchoo-socialconnect-account .col3-set [class^="col"],
div.inchoo-socialconnect-account .col2-set [class^="col"] {
  float: none;
  width: 100%;
  margin-bottom: 15px; }
