@font-face {
  font-family: 'SFUFuturaBook';
  src: url("../fonts/SFUFutura/SFUFuturaBook.TTF");
}
@font-face {
  font-family: 'SFUFutura';
  src: url("../fonts/SFUFutura/SFUFuturaRegular.TTF");
  font-weight: normal;
}
@font-face {
  font-family: 'SFUFutura';
  src: url("../fonts/SFUFutura/SFUFuturaBold.TTF");
  font-weight: bold;
}
/* line 1, ../scss/_layout.scss */
body {
  letter-spacing: 0.5px;
  font-family: SFUFutura, "Open Sans", Arial;
  color: #222222;
  font-size: 14px;
}

@media (min-width: 1200px) {
  /* line 9, ../scss/_layout.scss */
  .container {
    width: 1200px;
  }
}
/* line 14, ../scss/_layout.scss */
a {
  color: #222;
}
/* line 16, ../scss/_layout.scss */
a:hover {
  color: #c51230;
}

/* line 21, ../scss/_layout.scss */
.grid-clol-4 .col-item4 {
  padding: 0 10px 10px;
  width: 25%;
  float: left;
}

/* line 27, ../scss/_layout.scss */
.grid-clol-3 .col-item3 {
  padding: 0 10px 10px;
  width: 33.33333%;
  float: left;
}

/* line 33, ../scss/_layout.scss */
#back-top span {
  background-color: #c51230;
}

/* line 37, ../scss/_layout.scss */
button.button > span:after, .but-link:after {
  background-color: #c51230;
}

/* line 41, ../scss/_layout.scss */
.account-create form {
  width: 750px;
  margin: auto;
  display: block;
  max-width: 100%;
  font-size: 14px;
}

/* line 49, ../scss/_layout.scss */
.form-list label {
  font-family: SFUFuturaBook, "Open Sans", Arial;
}

/* line 53, ../scss/_layout.scss */
.form-list .input-box {
  margin-bottom: 15px;
}

/* line 57, ../scss/_layout.scss */
.fieldset .legend {
  font-size: 14px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Common styles of menus */
/* line 14, ../scss/_menu.scss */
.dl-menuwrapper {
  width: 100%;
  max-width: 300px;
  float: left;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
}

/* line 25, ../scss/_menu.scss */
.dl-menuwrapper:first-child {
  margin-right: 100px;
}

/* line 29, ../scss/_menu.scss */
.dl-menuwrapper button {
  background: #ccc;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
}

/* line 47, ../scss/_menu.scss */
.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 5px;
  background: #fff;
  top: 10px;
  left: 16%;
  box-shadow: 0 10px 0 #fff,  0 20px 0 #fff;
}

/* line 60, ../scss/_menu.scss */
.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 67, ../scss/_menu.scss */
.dl-menuwrapper li {
  position: relative;
}

/* line 71, ../scss/_menu.scss */
.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  outline: none;
}

/* line 82, ../scss/_menu.scss */
.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1);
}

/* line 86, ../scss/_menu.scss */
.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  color: #c51230;
}

/* line 91, ../scss/_menu.scss */
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
}

/* line 102, ../scss/_menu.scss */
.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: #c51230;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 109, ../scss/_menu.scss */
.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15);
}

/* line 114, ../scss/_menu.scss */
.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 126, ../scss/_menu.scss */
.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

/* line 130, ../scss/_menu.scss */
.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hide the inner submenus */
/* line 138, ../scss/_menu.scss */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
/* line 149, ../scss/_menu.scss */
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

/* line 155, ../scss/_menu.scss */
.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
/* line 164, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */
/* line 174, ../scss/_menu.scss */
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s;
}

/* line 179, ../scss/_menu.scss */
.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

/* line 184, ../scss/_menu.scss */
.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease;
}

/* line 189, ../scss/_menu.scss */
.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease;
}

/* line 194, ../scss/_menu.scss */
.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}
@keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
@keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}
@keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
}
/* line 300, ../scss/_menu.scss */
.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s;
}

/* line 305, ../scss/_menu.scss */
.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

/* line 310, ../scss/_menu.scss */
.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease;
}

/* line 315, ../scss/_menu.scss */
.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease;
}

/* line 320, ../scss/_menu.scss */
.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/* line 454, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease;
}

/* line 459, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

/* line 464, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

/* line 469, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease;
}

/* line 474, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/* line 599, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease;
}

/* line 604, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

/* line 609, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease;
}

/* line 614, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

/* line 619, ../scss/_menu.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
}
/* No JS Fallback */
/* line 745, ../scss/_menu.scss */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

/* line 752, ../scss/_menu.scss */
.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

/* line 756, ../scss/_menu.scss */
.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

/* line 760, ../scss/_menu.scss */
.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}

/* line 764, ../scss/_menu.scss */
.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: '';
}

/* Colors for demos */
/* Demo 1 */
/* line 771, ../scss/_menu.scss */
.demo-1 .dl-menuwrapper button {
  background: #c62860;
}

/* line 775, ../scss/_menu.scss */
.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
  background: #9e1847;
}

/* Demo 2 */
/* line 782, ../scss/_menu.scss */
.demo-2 .dl-menuwrapper button {
  background: #e86814;
}

/* line 786, ../scss/_menu.scss */
.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
  background: #D35400;
}

/* Demo 3 */
/* line 793, ../scss/_menu.scss */
.demo-3 .dl-menuwrapper button {
  background: #08cbc4;
}

/* line 797, ../scss/_menu.scss */
.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
  background: #00b4ae;
}

/* Demo 4 */
/* line 804, ../scss/_menu.scss */
.demo-4 .dl-menuwrapper button {
  background: #90b912;
}

/* line 808, ../scss/_menu.scss */
.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
  background: #79a002;
}

/* Demo 5 */
/* line 815, ../scss/_menu.scss */
.demo-5 .dl-menuwrapper button {
  background: #744783;
}

/* line 819, ../scss/_menu.scss */
.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
  background: #643771;
}

/* line 1, ../scss/_header.scss */
.header {
  font-family: SFUFuturaBook, 'Open Sans', Arial;
}
/* line 3, ../scss/_header.scss */
.header .header-border {
  box-shadow: none;
  background: #EEE;
  padding: 10px 10000px 10px;
}
/* line 8, ../scss/_header.scss */
.header .header-info {
  padding-top: 0;
}
/* line 11, ../scss/_header.scss */
.header h1.logo {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
/* line 17, ../scss/_header.scss */
.header .links a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #222 !important;
}
/* line 23, ../scss/_header.scss */
.header .links a:hover {
  color: #c51230 !important;
}
/* line 27, ../scss/_header.scss */
.header .links li {
  position: relative;
}
/* line 29, ../scss/_header.scss */
.header .links li:nth-child(2) {
  display: none;
}
/* line 33, ../scss/_header.scss */
.header .links li:not(:last-child):after {
  content: '';
  width: 2px;
  height: 100%;
  display: block;
  background: #222;
  position: absolute;
  right: -10px;
  top: 0;
}
/* line 46, ../scss/_header.scss */
.header .quick-access {
  margin-bottom: 0;
  padding-top: 3px;
}
/* line 51, ../scss/_header.scss */
.header .form-search .input-text {
  color: #222;
  border-color: #c51230;
  font-family: SFUFutura, "Open Sans", Arial;
  font-size: 16px;
  min-width: 300px;
}
/* line 58, ../scss/_header.scss */
.header .form-search button.button > span {
  background-color: #c51230;
}
/* line 60, ../scss/_header.scss */
.header .form-search button.button > span:after {
  background-color: #000 !important;
}
/* line 65, ../scss/_header.scss */
.header .contact {
  font-weight: bold;
  white-space: nowrap;
  padding-top: 3px;
}
/* line 69, ../scss/_header.scss */
.header .contact span {
  letter-spacing: 1px;
  display: inline-block;
}
/* line 72, ../scss/_header.scss */
.header .contact span a {
  color: #c51230;
}

/* line 79, ../scss/_header.scss */
.block-cart-header {
  width: 25px;
  height: 25px;
  margin-right: 2px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background: url(../images/icons/header-icons.svg) no-repeat;
  background-position: 0 -50px !important;
  margin-bottom: 0;
  margin-top: 0;
}
/* line 90, ../scss/_header.scss */
.block-cart-header:hover {
  background-position: -25px -50px !important;
}
/* line 93, ../scss/_header.scss */
.block-cart-header .summary {
  position: relative;
  color: #c51230;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  padding-top: 5px;
  left: auto;
  top: auto;
}
/* line 103, ../scss/_header.scss */
.block-cart-header .cart-content {
  top: 36px;
}

/* line 108, ../scss/_header.scss */
.header-container {
  box-shadow: none;
}

@media (max-width: 767px) {
  /* line 113, ../scss/_header.scss */
  .magicmenu .nav-desktop {
    display: none;
  }
}
/* line 117, ../scss/_header.scss */
.magicmenu .nav-desktop > .level0 {
  padding: 5px 30px 5px 0 !important;
}
/* line 121, ../scss/_header.scss */
.magicmenu .nav-desktop .level0 .level-top {
  font-weight: bold !important;
}
/* line 123, ../scss/_header.scss */
.magicmenu .nav-desktop .level0 .level-top > span {
  font-size: 16px !important;
}
/* line 128, ../scss/_header.scss */
.magicmenu .nav-desktop .level0.active .level-top {
  color: #c51230 !important;
}
/* line 133, ../scss/_header.scss */
.magicmenu .nav-desktop .level0:hover .level-top {
  color: #c51230 !important;
}
/* line 139, ../scss/_header.scss */
.magicmenu .nav-desktop .level0.hasChild > .level-top:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  text-indent: 0 !important;
  content: "\f107";
  display: inline-block;
  font-size: 15px;
  color: #c51230;
  border-radius: 20px;
  line-height: 20px;
  vertical-align: middle;
  position: absolute;
  right: -14px;
  top: 30%;
}

/* line 162, ../scss/_header.scss */
.magicmenu .nav-desktop .level0 > .level-top:before {
  display: none !important;
}

/* line 165, ../scss/_header.scss */
.magicmenu .nav-desktop .hasChild > .level-top:after {
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  text-indent: 0 !important;
  content: "\f107";
  display: inline-block;
  font-size: 15px;
  color: #c51230;
  border-radius: 20px;
  line-height: 20px;
  vertical-align: middle;
  position: absolute;
  right: 0px;
  top: 40%;
}

/* line 186, ../scss/_header.scss */
.magicmenu .nav-desktop .level0.dropdown > .level0,
.magicmenu .nav-desktop .dl-submenu.level1 {
  min-width: 20em !important;
  width: auto !important;
}

/* line 192, ../scss/_header.scss */
.top-icon-menu, .swipe {
  background-color: #fff;
}

/* line 196, ../scss/_header.scss */
.top-icon-menu {
  color: #222;
}
/* line 198, ../scss/_header.scss */
.top-icon-menu > div {
  padding: 10px;
  font-size: 20px;
  color: #c51230 !important;
  border-right: 0;
  height: auto;
}

/* line 207, ../scss/_header.scss */
.logo-mobile {
  padding: 10px 0;
  display: inline-block;
}
/* line 210, ../scss/_header.scss */
.logo-mobile img {
  max-height: 30px;
}

/* line 216, ../scss/_header.scss */
.logo img {
  max-height: 80px;
}

/* line 221, ../scss/_header.scss */
.swipe {
  display: none;
  z-index: 99;
  font-family: SFUFutura, "Open Sans", Arial;
  color: #222;
  font-weight: normal;
}
/* line 224, ../scss/_header.scss */
.swipe a {
  color: #222;
  font-weight: normal;
}
/* line 229, ../scss/_header.scss */
.swipe .links li a, .swipe .footer-links-menu li a {
  color: #222;
  font-weight: normal;
}
/* line 237, ../scss/_header.scss */
.swipe .label {
  font-weight: normal !important;
}

@media only screen and (max-width: 991px) {
  /* line 243, ../scss/_header.scss */
  .nav-container-mobile {
    border-bottom: 0 !important;
    box-shadow: 0 3px 3px #CCC;
  }

  /* line 247, ../scss/_header.scss */
  .sf-menu-phone {
    top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 253, ../scss/_header.scss */
  .block-cart-header {
    min-width: 0;
    padding: 0;
    border-left: 0;
    right: 0;
    top: -55px;
  }
  /* line 259, ../scss/_header.scss */
  .block-cart-header:before {
    display: none;
  }
  /* line 262, ../scss/_header.scss */
  .block-cart-header .block-content {
    float: none;
  }
  /* line 265, ../scss/_header.scss */
  .block-cart-header .mini-cart {
    padding: 0;
    padding-top: 4px;
    font-size: 11px;
    text-align: center;
  }
  /* line 271, ../scss/_header.scss */
  .block-cart-header .mini-cart strong {
    color: #c51230;
    font-weight: normal;
  }

  /* line 276, ../scss/_header.scss */
  .header-container {
    padding-bottom: 0;
  }

  /* line 279, ../scss/_header.scss */
  .header {
    padding: 0;
  }
  /* line 281, ../scss/_header.scss */
  .header .header-border {
    padding: 0;
  }
  /* line 285, ../scss/_header.scss */
  .header .form-search .input-text {
    padding: 5px 10px;
    height: 42px;
    line-height: 20px;
    border-width: 1px;
  }
  /* line 291, ../scss/_header.scss */
  .header .form-search button.button > span {
    width: 42px;
    height: 42px;
  }
  /* line 294, ../scss/_header.scss */
  .header .form-search button.button > span:before {
    line-height: 40px;
  }

  /* line 300, ../scss/_header.scss */
  .header h1.logo, .header .logo {
    display: none !important;
  }

  /* line 303, ../scss/_header.scss */
  .header .f-right {
    float: none !important;
  }

  /* line 306, ../scss/_header.scss */
  #search_mini_form {
    opacity: 1 !important;
    display: block !important;
    padding: 0;
    position: relative;
    transition: none;
    height: auto !important;
  }

  /* line 314, ../scss/_header.scss */
  #menu-icon {
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    padding: 0 5px;
  }
  /* line 319, ../scss/_header.scss */
  #menu-icon:before {
    line-height: 45px;
  }
}
/* line 326, ../scss/_header.scss */
body.ind .swipe {
  display: block;
  width: 100%;
  z-index: 99999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 332, ../scss/_header.scss */
body.ind .swipe .swipe-menu {
  border-top: 0;
  width: 100%;
  min-height: 100vh;
  max-width: 380px;
  background-color: #fff;
}
/* line 338, ../scss/_header.scss */
body.ind .swipe .swipe-menu .menu-header {
  margin: 0;
  padding: 20px 10px;
  color: #666;
  font-size: 16px;
  background: #EEE;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 348, ../scss/_header.scss */
body.ind .swipe .swipe-menu .menu-header span {
  padding-left: 5px;
}
/* line 353, ../scss/_header.scss */
body.ind .swipe .dl-menuwrapper {
  float: none !important;
  max-width: none !important;
}
/* line 356, ../scss/_header.scss */
body.ind .swipe .dl-menuwrapper .dl-menu {
  position: relative !important;
  margin: 0 !important;
}

/* line 365, ../scss/_header.scss */
.swipe-menu ul li a, .swipe-menu > a {
  color: #565656;
  display: block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 55px 15px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  border-bottom: 1px solid #EEE !important;
}
/* line 376, ../scss/_header.scss */
.swipe-menu ul li a:before, .swipe-menu > a:before {
  display: none;
}

/* line 381, ../scss/_header.scss */
.swipe-menu .links li a, .footer-links-menu li a, .home-link, .swipe-menu .switch-show {
  border-bottom: 1px solid #EEE !important;
}

/* line 385, ../scss/_header.scss */
.header-container-fixed {
  position: fixed;
  top: 0;
  z-index: 9;
  background: #fff;
  width: 100%;
  box-shadow: 0 3px 3px #CCC;
  transition: box-shadow 200ms;
}

/* line 395, ../scss/_header.scss */
.header .welcome-msg {
  margin-bottom: 7px;
}

/* line 399, ../scss/_header.scss */
.title-buttons h1 {
  float: none;
}

@media only screen and (max-width: 767px) {
  /* line 405, ../scss/_header.scss */
  .block-cart-header .empty > div, .block-cart-header .summary {
    display: block;
  }
}
/* line 1, ../scss/_footer.scss */
.footer-container {
  background: #1C1C1C;
}
/* line 4, ../scss/_footer.scss */
.footer-container .footer h4 {
  color: #fff;
}
/* line 7, ../scss/_footer.scss */
.footer-container .footer ul li a {
  color: #fff;
}
/* line 9, ../scss/_footer.scss */
.footer-container .footer ul li a:hover {
  color: #c51230;
}
/* line 13, ../scss/_footer.scss */
.footer-container .footer p {
  color: #fff !important;
}

/* line 19, ../scss/_footer.scss */
.footer-col.last {
  border-color: #444;
}

/* line 23, ../scss/_footer.scss */
.footer-shadow {
  border-color: #444;
  color: #fff;
}

/* line 28, ../scss/_footer.scss */
.footer .block-subscribe button.button > span {
  background: #c51230;
}

/* line 2, ../scss/_home.scss */
.cms-home .home_slider {
  padding-top: 10px;
}

/* line 7, ../scss/_home.scss */
.camera_prev, .camera_next {
  width: 42px;
  height: 92px;
  background: none !important;
  margin-top: -46px;
}

/* line 15, ../scss/_home.scss */
.camera_prev:before {
  content: '';
  background: url(../images/md-left.svg);
  display: block;
}

/* line 23, ../scss/_home.scss */
.camera_next:before {
  content: '';
  background: url(../images/md-right.svg);
  display: block;
}

/* line 30, ../scss/_home.scss */
.category-title {
  border: none;
}
/* line 32, ../scss/_home.scss */
.category-title:after {
  width: 45px;
  height: 3px;
  content: '';
  display: block;
  background: #c51230;
  margin: 10px auto 20px;
}

/* line 41, ../scss/_home.scss */
.category-title h1 {
  text-align: center;
  text-transform: uppercase;
}

/* line 48, ../scss/_home.scss */
.products-grid li.item .wrapper-hover {
  margin-bottom: 40px;
}
/* line 52, ../scss/_home.scss */
.products-grid .price-box > p.special-price {
  float: none;
}
/* line 53, ../scss/_home.scss */
.products-grid .price-box > p.special-price .price {
  color: #c51230;
}

/* line 60, ../scss/_home.scss */
.label-product > span.sale {
  background: #c51230;
}

/* line 64, ../scss/_home.scss */
.products-grid .ratings {
  display: none;
}

/* line 67, ../scss/_home.scss */
.product-shop {
  text-align: center;
}
/* line 70, ../scss/_home.scss */
.product-shop .actions .btn-buy {
  width: 50%;
  margin: 0;
}
/* line 73, ../scss/_home.scss */
.product-shop .actions .btn-buy span {
  width: 100%;
  background: #c51230;
  font-family: SFUFutura, "Open Sans", Arial;
  font-weight: normal;
}
/* line 78, ../scss/_home.scss */
.product-shop .actions .btn-buy span span {
  padding: 10px 5px;
}
/* line 81, ../scss/_home.scss */
.product-shop .actions .btn-buy span:after {
  background: #000;
}
/* line 86, ../scss/_home.scss */
.product-shop .actions .btn-wishlist {
  margin: 0;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  padding: 10px 5px;
  display: block;
  float: left;
  width: 50%;
}

/* line 99, ../scss/_home.scss */
.products-grid .out-of-stock {
  display: inline-block;
  padding: 10px 5px;
  width: 50%;
  line-height: inherit;
  background: #888;
}
/* line 105, ../scss/_home.scss */
.products-grid .out-of-stock span {
  color: #fff;
  font-weight: normal;
}

/* line 114, ../scss/_home.scss */
.col-main .regular-price .price {
  color: #c51230;
}

/* line 120, ../scss/_home.scss */
.happy-furniture-to-you .row {
  margin-bottom: 30px;
}
/* line 122, ../scss/_home.scss */
.happy-furniture-to-you .row .wrapper {
  width: inherit;
}

/* line 128, ../scss/_home.scss */
.page-title {
  color: #171717;
  font-size: 30px;
  line-height: 35px;
  margin: 30px 0 28px;
  letter-spacing: 1.5px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-family: SFUFuturaBook, Arial, Helvetica, sans-serif;
  border-bottom: 0;
}
/* line 139, ../scss/_home.scss */
.page-title:after {
  width: 45px;
  height: 3px;
  content: '';
  display: block;
  background: #c51230;
  margin: 10px auto 20px;
}

/* line 151, ../scss/_home.scss */
.featured-categories .wrapper {
  width: inherit;
}
/* line 154, ../scss/_home.scss */
.featured-categories .row {
  margin-bottom: 30px;
}
/* line 156, ../scss/_home.scss */
.featured-categories .row a {
  display: block;
  position: relative;
  text-decoration: none;
}
/* line 160, ../scss/_home.scss */
.featured-categories .row a .overlay {
  width: 45%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: absolute;
  background: #000;
}
/* line 169, ../scss/_home.scss */
.featured-categories .row a .overlay .text {
  color: #FFF;
  width: 100%;
  height: 100%;
  display: table;
  letter-spacing: 2.5px;
}
/* line 175, ../scss/_home.scss */
.featured-categories .row a .overlay .text span {
  font-size: 24px;
  line-height: 32px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 183, ../scss/_home.scss */
.featured-categories .row a .overlay:hover {
  background: #c51230;
}

/* line 192, ../scss/_home.scss */
.homeIndent .carousel-prev, .homeIndent .carousel-next, .homeIndent .carousel-prev2, .homeIndent .carousel-next2 {
  position: absolute;
  top: 50%;
  margin-top: -46px;
  width: 42px;
  height: 92px;
  background: none !important;
}
/* line 200, ../scss/_home.scss */
.homeIndent .carousel-prev, .homeIndent .carousel-prev2 {
  left: -40px;
}
/* line 202, ../scss/_home.scss */
.homeIndent .carousel-prev:before, .homeIndent .carousel-prev2:before {
  content: '';
  background: url(../images/md-left-d.svg);
  display: block;
  width: 42px;
  height: 92px;
}
/* line 211, ../scss/_home.scss */
.homeIndent .carousel-next, .homeIndent .carousel-next2 {
  right: -40px;
}
/* line 213, ../scss/_home.scss */
.homeIndent .carousel-next:before, .homeIndent .carousel-next2:before {
  content: '';
  background: url(../images/md-right-d.svg);
  display: block;
  width: 42px;
  height: 92px;
}

/* line 223, ../scss/_home.scss */
.home-carousel-control {
  position: initial;
  top: auto;
  right: auto;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  /* line 232, ../scss/_home.scss */
  .products-grid .desc_grid {
    max-height: 54px;
    overflow: hidden;
  }

  /* line 236, ../scss/_home.scss */
  .homeIndent .category-title {
    padding-right: 0 !important;
  }

  /* line 240, ../scss/_home.scss */
  .magestore-bannerslider-standard .wrapper.left {
    margin-bottom: 30px;
  }

  /* line 245, ../scss/_home.scss */
  .homeIndent .carousel-prev, .homeIndent .carousel-next, .homeIndent .carousel-prev2, .homeIndent .carousel-next2 {
    display: none !important;
  }
}
/* line 252, ../scss/_home.scss */
.cms-about-us .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* line 1, ../scss/_product.scss */
.categories-landing-page .categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
/* line 6, ../scss/_product.scss */
.categories-landing-page .categories .category .contents {
  position: relative;
}
/* line 9, ../scss/_product.scss */
.categories-landing-page .categories .category .contents .image img {
  height: 260px;
  object-fit: cover;
}
/* line 14, ../scss/_product.scss */
.categories-landing-page .categories .category .contents .info {
  padding: 20px 0;
}
/* line 16, ../scss/_product.scss */
.categories-landing-page .categories .category .contents .info .name {
  color: #171717;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
/* line 23, ../scss/_product.scss */
.categories-landing-page .categories .category .contents .info .number {
  color: #666;
  font-size: 18px;
  font-weight: bold;
}
/* line 28, ../scss/_product.scss */
.categories-landing-page .categories .category .contents .info p {
  margin-bottom: 5px;
}
/* line 31, ../scss/_product.scss */
.categories-landing-page .categories .category .contents .info .description {
  color: #666;
  font-size: 16px;
}

/* line 41, ../scss/_product.scss */
#cssmenu ul {
  margin: 0;
  padding: 0;
  font-size: 0.95em;
  list-style: none;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 50, ../scss/_product.scss */
#cssmenu ul li {
  position: relative;
}
/* line 52, ../scss/_product.scss */
#cssmenu ul li a {
  display: block;
  margin: 10px 0;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 0;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-family: 'SFUFuturaBook';
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
/* line 73, ../scss/_product.scss */
#cssmenu.two-level > ul > li > a {
  display: block;
  margin: 10px 0;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 0;
  color: #171717;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 84, ../scss/_product.scss */
#cssmenu.two-level > ul > li > a:hover {
  color: #c51230;
}
/* line 87, ../scss/_product.scss */
#cssmenu.two-level > ul > li > a:after {
  background-image: url(../images/icons/arrow.svg);
}
/* line 92, ../scss/_product.scss */
#cssmenu.two-level > ul > li.selected > ul {
  display: block;
}
/* line 95, ../scss/_product.scss */
#cssmenu.two-level > ul > li.selected > a {
  color: #c51230;
}
/* line 101, ../scss/_product.scss */
#cssmenu.two-level > ul > li.has-sub > a:after {
  top: 2px;
  right: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  content: '';
  display: block;
}
/* line 112, ../scss/_product.scss */
#cssmenu.two-level > ul > li.has-sub.selected > a:after {
  background-position: -25px -25px;
}
/* line 117, ../scss/_product.scss */
#cssmenu.two-level > ul > li > ul {
  padding: 10px 0;
  border-top: 1px solid #c51230;
  border-bottom: 1px solid #c51230;
  display: none;
}
/* line 122, ../scss/_product.scss */
#cssmenu.two-level > ul > li > ul.selected {
  margin: 20px 0;
}
/* line 125, ../scss/_product.scss */
#cssmenu.two-level > ul > li > ul > li {
  margin-left: 20px;
}
/* line 127, ../scss/_product.scss */
#cssmenu.two-level > ul > li > ul > li a {
  text-transform: uppercase;
  font-size: 1em;
  color: #171717;
  font-family: 'SFUFuturaBook';
  color: #666;
}
/* line 133, ../scss/_product.scss */
#cssmenu.two-level > ul > li > ul > li a:hover {
  color: #000;
}
/* line 138, ../scss/_product.scss */
#cssmenu.two-level > ul > li > ul > li.selected a {
  color: #000;
}

/* line 150, ../scss/_product.scss */
.catalog-category-view .breadcrumbs {
  margin-bottom: 30px;
}

/* line 155, ../scss/_product.scss */
.products-grid.grid-clol-3 {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 162, ../scss/_product.scss */
.products-list .list-right .regular-price {
  float: none;
}

/* line 169, ../scss/_product.scss */
.product-name a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 178, ../scss/_product.scss */
.note-msg-empty-catalog {
  min-height: 132px;
}

/* line 183, ../scss/_product.scss */
.product-view .product-img-box {
  width: 50%;
}
/* line 186, ../scss/_product.scss */
.product-view .product-shop {
  width: 50%;
  text-align: left;
}
/* line 189, ../scss/_product.scss */
.product-view .product-shop .availability {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 194, ../scss/_product.scss */
.product-view .product-shop .availability span {
  color: #2ecc71;
  display: inline-block;
  padding: 2px 30px;
  border: 2px solid #2ecc71;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  white-space: nowrap;
  margin: 0;
  line-height: 23px;
}
/* line 206, ../scss/_product.scss */
.product-view .product-shop .add-to-box {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
/* line 212, ../scss/_product.scss */
.product-view .product-shop .add-to-box .add-to-cart {
  width: 100%;
  order: 1;
  border: 0;
}
/* line 217, ../scss/_product.scss */
.product-view .product-shop .add-to-box > .add-to-cart-button {
  float: right;
}
/* line 220, ../scss/_product.scss */
.product-view .product-shop .add-to-box .add-to-wishlist {
  float: left;
}
/* line 223, ../scss/_product.scss */
.product-view .product-shop .add-to-box > .add-to-cart-button {
  width: 60%;
  order: 3;
}
/* line 226, ../scss/_product.scss */
.product-view .product-shop .add-to-box > .add-to-cart-button .btn-cart {
  width: 100%;
  background-color: #c51230;
}
/* line 229, ../scss/_product.scss */
.product-view .product-shop .add-to-box > .add-to-cart-button .btn-cart:hover {
  background-color: #c51230;
}
/* line 232, ../scss/_product.scss */
.product-view .product-shop .add-to-box > .add-to-cart-button .btn-cart span {
  display: block;
  float: none;
  line-height: 28px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.4em;
}
/* line 242, ../scss/_product.scss */
.product-view .product-shop .add-to-box > .add-to-wishlist {
  width: 40%;
  order: 2;
}
/* line 245, ../scss/_product.scss */
.product-view .product-shop .add-to-box > .add-to-wishlist .link-wishlist {
  display: block;
  margin-right: 5px;
  background-color: #f5f5f5;
  line-height: 28px;
  padding: 16px 10px;
  color: #7a7d81;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
}
/* line 258, ../scss/_product.scss */
.product-view .product-shop .row-product {
  padding-top: 0;
  display: none;
}
/* line 262, ../scss/_product.scss */
.product-view .product-shop .addthis_toolbox {
  border: 0;
  padding: 0;
}
/* line 266, ../scss/_product.scss */
.product-view .product-shop .short-description {
  border-top: 2px solid #c2c2c2;
  border-bottom: 2px solid #c2c2c2;
  margin-bottom: 0;
  margin-top: 10px;
}
/* line 271, ../scss/_product.scss */
.product-view .product-shop .short-description p {
  font-size: 18px;
  line-height: 23px;
  padding-top: 13px;
  text-align: justify;
}
/* line 282, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control {
  display: flex;
  position: relative;
}
/* line 285, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control label {
  order: 1;
  margin: 0;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 29px;
}
/* line 293, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control > div {
  order: 2;
}
/* line 295, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control > div .up {
  position: absolute;
  right: -32px;
}
/* line 298, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control > div .up:before {
  content: "\f055";
}
/* line 302, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control > div .dn {
  position: relative;
}
/* line 304, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control > div .dn:before {
  content: "\f056";
}
/* line 308, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control > div .up, .product-view .add-to-cart .qty-block .qty-control > div .dn {
  font-size: 0;
  border: 0;
  overflow: visible;
  background-color: transparent;
  width: 32px;
  height: 32px;
}
/* line 315, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control > div .up:before, .product-view .add-to-cart .qty-block .qty-control > div .dn:before {
  font-family: FontAwesome;
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 30px;
  line-height: 34px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 0;
  left: 0;
  font-weight: normal;
}
/* line 335, ../scss/_product.scss */
.product-view .add-to-cart .qty-block .qty-control .qty {
  order: 3;
  margin: 0 5px;
  width: 32px !important;
  height: 32px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #DDD;
  padding: 0;
}
/* line 351, ../scss/_product.scss */
.product-view .product-collateral .box-collateral h2 {
  display: inline-block;
  font-size: 18px;
  border-bottom: 5px solid #222;
  text-transform: uppercase;
}
/* line 358, ../scss/_product.scss */
.product-view .product-collateral .box-collateral .data-table tr {
  border-bottom: 1px solid #EEE;
}
/* line 360, ../scss/_product.scss */
.product-view .product-collateral .box-collateral .data-table tr:last-child {
  border: 0;
}
/* line 364, ../scss/_product.scss */
.product-view .product-collateral .box-collateral .data-table th, .product-view .product-collateral .box-collateral .data-table td {
  border: 0;
  font-size: 18px;
  color: #222;
  padding: 10px 10px 10px 0;
  font-weight: normal;
}

/* line 376, ../scss/_product.scss */
.block-layered-nav dt:first-child {
  border: none !important;
}

/* line 380, ../scss/_product.scss */
.block-layered-nav dt {
  font-size: 18px;
  font-family: SFUFuturaBook, "Open Sans", Arial;
}

/* line 385, ../scss/_product.scss */
.block-layered-nav dd li a {
  font-size: 14px;
}

/* line 389, ../scss/_product.scss */
.block-layered-nav dd {
  margin-bottom: 15px;
}

/* line 394, ../scss/_product.scss */
.sidebar .ui-slider .ui-slider-handle {
  border-radius: 0;
}
/* line 397, ../scss/_product.scss */
.sidebar #slider-range {
  margin-left: 10px;
  margin-top: 7px;
}
/* line 401, ../scss/_product.scss */
.sidebar .price {
  text-align: center;
}
/* line 403, ../scss/_product.scss */
.sidebar .price #amount {
  text-align: center;
  font-size: 13px;
}

/* line 410, ../scss/_product.scss */
.products-grid .desc_grid {
  max-height: 44px;
  overflow: hidden;
}

/* line 415, ../scss/_product.scss */
.label-product {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
/* line 422, ../scss/_product.scss */
.label-product > span {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
/* line 432, ../scss/_product.scss */
.label-product > span.new {
  background: #00ba99;
}
/* line 435, ../scss/_product.scss */
.label-product > span.sale {
  font-size: 10px;
  line-height: 14px;
  padding-top: 9px;
}

/* line 1, ../scss/_breadcrumbs.scss */
.breadcrumbs {
  padding: 17px 0;
  background-color: #f5f5f5;
  color: #7a7d81;
}
/* line 6, ../scss/_breadcrumbs.scss */
.breadcrumbs ul li {
  font-size: 14px;
  text-transform: uppercase;
}
/* line 10, ../scss/_breadcrumbs.scss */
.breadcrumbs ul li.home:before {
  content: "\f015";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  color: #444;
}
/* line 17, ../scss/_breadcrumbs.scss */
.breadcrumbs ul li.home a {
  display: none;
}
/* line 22, ../scss/_breadcrumbs.scss */
.breadcrumbs ul li:not(first-child):before {
  content: '/';
  padding: 0 2px;
  color: #444;
}
/* line 28, ../scss/_breadcrumbs.scss */
.breadcrumbs ul li a, .breadcrumbs ul li strong {
  color: #444;
  font-size: 12px;
}
